<template>
  <div class="row justify-content-center">
    <div class="col-lg-5 col-md-7">
      <div class="card bg-secondary shadow border-0">
        <div class="card-header bg-transparent pb-5">
          <div class="text-muted text-center mt-2 mb-3">
            <small>Авторизуйтесь через соц сети</small>
          </div>
          <div class="btn-wrapper text-center">
            <a href="#" class="btn btn-neutral btn-icon">
              <span class="btn-inner--icon"
                ><img src="img/icons/common/github.svg"
              /></span>
              <span class="btn-inner--text">Github</span>
            </a>
            <a href="#" class="btn btn-neutral btn-icon">
              <span class="btn-inner--icon"
                ><img src="img/icons/common/google.svg"
              /></span>
              <span class="btn-inner--text">Google</span>
            </a>
          </div>
        </div>
        <div class="card-body px-lg-5 py-lg-5">
          <div class="text-center text-muted mb-4">
            <small>или войдите через учетную запись</small>
          </div>
          <form role="form" @submit.prevent="auth">
            <base-input
              formClasses="input-group-alternative mb-3"
              placeholder="Логин"
              addon-left-icon="ni ni-email-83"
              :value="model.login"
              @input="(e) => this.model.login = e.target.value"
            >
            </base-input>

            <base-input
              formClasses="input-group-alternative mb-3"
              placeholder="Пароль"
              type="password"
              addon-left-icon="ni ni-lock-circle-open"
              :value="model.password"
              @input="(e) => this.model.password = e.target.value"
            >
            </base-input>

            <base-checkbox class="custom-control-alternative">
              <span class="text-muted">Запомнить меня</span>
            </base-checkbox>
            <div class="text-center">
              <base-button type="primary" nativeType = "submit" class="my-4">Войти</base-button>
            </div>
          </form>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-6">
          <a href="#" class="text-light"><small>Забыли пароль?</small></a>
        </div>
        <div class="col-6 text-right">
          <router-link to="/register" class="text-light"
            ><small>Создать аккаунт</small></router-link
          >
        </div>
      </div>
    </div>
  </div>
</template>
<script>

export default {
  name: "login",
  methods: {
    async auth() {
      try {
        await this.$store.dispatch('user/login', this.model);
        this.$router.push({name: 'projects'});
      }
      catch (exception) {
        console.log(exception);
        alert('Неверный пароль');
      }
    }
  },
  data: () => ({
      model: {
        login: "",
        password: "",
      },
  }),

};
</script>
<style></style>
