<template>
    <div>
        <base-header type="gradient-success" class="pb-6 pb-8 pt-5 pt-md-8">
        <div class="row cards">
            <div v-for = "project in projects" :key = "project.id" class="col-xl-3 col-lg-6">
                <div class = "card">
                    <div class = "card__name">{{project.name}}</div>
                    <div class = "card__desc">{{project.description}}</div>
                </div>
            </div>
        </div>
        </base-header>
    </div>
</template>
<script>
import { createNamespacedHelpers } from 'vuex'
const { mapGetters } = createNamespacedHelpers('project')

export default {
    async created() {
      if (this.$store.getters["project/all"].length == 0) {
        try {
            await this.$store.dispatch('project/getAll');
        }
        catch (exception) {
            // this.$router.push({ name: 'login' });
        }
    } 
    },
    data: () => ({

    }),
    computed: {
        ...mapGetters({
            "projects": "all",
        })
    }
}
</script>

<style scoped>
    .cards {
        align-items: stretch;
        display: flex;
    }

    .cards > * {
        margin-top: 20px;
    }

    .card {
        padding: 20px;
        height: 100%;
        cursor: pointer;
        transform: translateY(0);
        transition: all .3s;
    }

    .card:hover {
        box-shadow: 0 0 3px 4px rgba(0,0,0,.05);
        transform: translateY(-7px);
    }

    .card__name {
        font-weight: 500;
        font-size: 1.25em;
        margin-bottom: .375em;
    }
</style>