<template>
  <div class="row justify-content-center">
    <div class="col-lg-5 col-md-7">
      <div class="card bg-secondary shadow border-0">
        <div class="card-header bg-transparent pb-5">
          <div class="text-muted text-center mt-2 mb-3">
            <small>Войдите с помощью соц сетей</small>
          </div>
          <div class="btn-wrapper text-center">
            <a href="#" class="btn btn-neutral btn-icon">
              <span class="btn-inner--icon"
                ><img src="img/icons/common/github.svg"
              /></span>
              <span class="btn-inner--text">Github</span>
            </a>
            <a href="#" class="btn btn-neutral btn-icon">
              <span class="btn-inner--icon"
                ><img src="img/icons/common/google.svg"
              /></span>
              <span class="btn-inner--text">Google</span>
            </a>
          </div>
        </div>
        <div class="card-body px-lg-5 py-lg-5">
          <div class="text-center text-muted mb-4">
            <small>или зарегистрируйте учетную запись</small>
          </div>
          <form role="form" @submit.prevent="submit">
            <base-input
              formClasses="input-group-alternative"
              placeholder="Логин"
              addon-left-icon="ni ni-hat-3"
              value:="model.name"
              @input.prevent="(e) => this.model.name = e.target.value"
            >
            </base-input>

            <base-input
              formClasses="input-group-alternative"
              placeholder="Email"
              addon-left-icon="ni ni-email-83"
              value:="model.email"
              @input.prevent="(e) => this.model.email = e.target.value"
              focused
            >
            </base-input>

            <base-input
              formClasses="input-group-alternative"
              placeholder="Пароль"
              type="password"
              addon-left-icon="ni ni-lock-circle-open"
              value:="model.password"
              @input.prevent="(e) => this.model.password = e.target.value"
            >
            </base-input>

            <!-- <div class="text-muted font-italic">
              <small
                >password strength:
                <span class="text-success font-weight-700">strong</span></small
              >
            </div> -->

            <div class="row my-4">
              <div class="col-12">
                <base-checkbox class="custom-control-alternative">
                  <span class="text-muted"
                    >Отправляя форму я соглашаюсь с <a href="#!">политикой хранения и обработки персональных данных</a></span
                  >
                </base-checkbox>
              </div>
            </div>
            <div class="text-center">
              <base-button type="primary" nativeType = "submit" class="my-4"
                >Создать аккаунт</base-button
              >
            </div>
          </form>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-6">
          <a href="#" class="text-light">
            <small>Forgot password?</small>
          </a>
        </div>
        <div class="col-6 text-right">
          <router-link to="/login" class="text-light">
            <small>Login into your account</small>
          </router-link>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  name: "register",
  methods: {
    async submit() {
      await this.$store.dispatch('user/reg', this.model);
    }
  },
  data() {
    return {
      model: {
        name: "",
        email: "",
        password: "",
      },
    };
  },
};
</script>
<style></style>
